{% extends "main.html" %}

{% block title %}CSC 320 || Registration{% endblock title %}

{% block content %}

    {% load static %}
    {% include "navbar.html" %}

    <link rel="stylesheet" href="{% static 'plep_app/css/plep_app.css' %}">

    <style>
        body {
            height: 100%;
            padding: 30px 0 50px 0;
        }
        .error {
            color: red;
            margin-bottom: -15px;
            margin-top: 5px;
            padding-top: 5px;
            font-size: 14px;
            text-align: center;
        }

        @media screen and (max-width: 675px)  {
            body {
                padding: 15px 0;
            }
        }
    </style>

    <div class="form-wrapper">
        <h2 class="reg">Register here!</h2>
        <p class="error"> <i class="fa fa-question" aria-hidden="true"></i>
            {% for message in messages %}
              {{ message.error }}
            {% endfor %}
        </p>
        <form class="form" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
    
            {{ form.as_p }}
    
            <button type="submit" class="btn-link">Submit</button>
        </form>
    </div>

    <!-- {% include "footer.html" %} -->


    <script>
        let individual = document.querySelector('input[value="Individual"]');
        let group = document.querySelector('input[value="Group"]');
        let others = document.querySelector('option[value="Others"]');

        let noLabel = document.querySelector('label[for="id_no_of_member"]');  
        let noInput = document.querySelector('input[type="number"]');  

        let specLabel = document.querySelector('label[for="id_others"]');  
        let specInput = document.querySelector('input[id="id_others"]');  

        let projectType = document.querySelector('select[name="project_catg"]');

        projectType.addEventListener('click', () => {
            if (projectType.value === "Others") {
                specLabel.style.display = "block";
                specInput.style.display = "block";
            } else {
                specLabel.style.display = "none";
                specInput.style.display = "none";
            }
        });

        individual.addEventListener('click', () => {
            noLabel.style.display = "none";
            noInput.style.display = "none";
        });

        group.addEventListener('click', () => {
            noLabel.style.display = "block";
            noInput.style.display = "block";
        });
    </script>



    {% endblock content %}
