{% extends "main.html" %}

{% block title %}CSC 320{% endblock title %}

{% block content %}

    {% load static %}
    {% include "navbar.html" %}

    <link rel="stylesheet" href="{% static 'plep_app/css/plep_app.css' %}">

    <style>
        body {
            height: 100%;
        }
        .form-wrapper {
            margin-top: 200px;
            width: 30%;
        }
        .uid-field {
            margin-top: 20px;
        }
        .error {
            color: red;
            margin-bottom: -15px;
            margin-top: 5px;
            padding-top: 5px;
            display: block;
            font-size: 14px;
            text-align: center;
        }

        @media screen and (max-width: 960px)  {
            .form-wrapper {
                width: 40%;
            }
        @media screen and (max-width: 575px) {
            .form-wrapper {
                 width: 80%;
             }
        }
        }
        @media screen and (max-width: 450px) {
            .form-wrapper {
                width: 90%;
            }
        }

    </style>

    <div class="form-wrapper">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="reg">Enter your UID</h2>
                <span class="error">{{ err }}</span>
            <input type="text" name="uid" class="uid-field" required>
            <input type="submit" class="btn-link">
        </form>
    </div>

    {% include "footer.html" %}

    {% endblock content %}